.Api-component-response {
  padding: 12px;
}

.Api-component-response-pretty-print {
  display: block;
  padding: 30px;
  margin: 0;
  overflow: scroll;
  background-color: #fff;
  color: #080;
  border: 1px solid #e3e3e3;
}
