.Api-component {
  text-align: left;
  background-color: #f4f4f4;
  border-radius: 4px;
  margin-bottom: 6px;
}

.Api-component-title {
  padding: 12px 20px;
  cursor: pointer;
}

.Api-component-title:hover {
  background-color: #eee;
}

.Api-component-method {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 16px;
}

.Api-component-action {
  font-weight: bold;
  margin-right: 16px;
}

.Api-component-resource {
  color: #888;
}

.Api-component-form {
  padding: 0 20px 16px;
  transition: all 2s;
}

.Api-component-description {
  color: #888;
}

.Api-component-button {
  background-color: #00c0a3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  padding: 2px 16px;
  margin: 16px 16px 0 0;
  cursor: pointer;
  outline: none;
}

.Api-component-button:active {
  background-color: #A2E8DD;
}

.Api-component-clear-response {
  color: #00c0a3;
  cursor: pointer;
}

.Api-component-header, .Api-component-parameters {
  width: 100%;
}

.Api-component-parameter {
  border-bottom: 1px solid #ddd;
}

.Api-component-parameter:last-of-type {
  border-bottom: 2px solid #ddd;
}

.Api-parameter-input {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0 16px;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}

.Col {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
}

.Col-type, .Col-location {
  width: 10%;
}

.Col-parameter {
  width: 15%;
  padding-left: 0;
}

.Col-attributes {
  width: 25%;
}

.Col-description {
  width: 40%;
}

.Http-GET {
  color: #8EC553;
}

.Http-POST {
  color: #00b9b7;
}

.Http-PATCH {
  color: #ff5c1e;
}

.Http-DELETE {
  color: #f33f33;
}

.Hide-element {
  display: none !important;
}
