.api-component {
  text-align: left;
  background-color: #f4f4f4;
  border-radius: 4px;
  margin-bottom: 6px;
}

.api-component-title {
  padding: 12px 20px;
  cursor: pointer;
}

.api-component-method {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 16px;
}

.api-component-action {
  font-weight: bold;
  margin-right: 16px;
}

.api-component-resource {
  color: #888;
}

.api-component-form {
  padding: 0 20px 16px;
  transition: all 2s;
}

.api-component-description {
  color: #888;
}

.api-component-button {
  background-color: #00c0a3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  padding: 2px 16px;
  margin: 16px 16px 0 0;
  cursor: pointer;
  outline: none;
}

.api-component-button:active {
  background-color: #A2E8DD;
}

.api-clear-results {
  color: #00c0a3;
  cursor: pointer;
}

.api-component-header, .api-component-parameters {
  width: 100%;
}

.api-component-parameter {
  border-bottom: 1px solid #ddd;
}

.api-component-parameter:last-of-type {
  border-bottom: 2px solid #ddd;
}

.api-parameter-input {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0 16px;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}

.api-component-response {
  background-color: #fff;
  color: #080;
  margin: 12px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

.pretty-print {
  display: block;
  padding: 10px 30px;
  margin: 0;
  overflow: scroll;
}

.col {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
}

.col-type, .col-location {
  width: 10%;
}

.col-parameter {
  width: 15%;
  padding-left: 0;
}

.col-attributes {
  width: 25%;
}

.col-description {
  width: 40%;
}

.http-get {
  color: #8EC553;
}

.http-post {
  color: #00b9b7;
}

.http-patch {
  color: #ff5c1e;
}

.http-delete {
  color: #f33f33;
}

.hide-element {
  display: none !important;
}
