.api-component {
  text-align: left;
  background-color: #f4f4f4;
}

.api-component-title {
  padding: 12px 20px;
}

.api-component-method {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 16px;
}

.api-component-action {
  font-weight: bold;
  margin-right: 16px;
}

.api-component-resource {
  color: #888;
}

.api-component-form {
  padding: 0 20px 12px;
}

.api-component-description {
  color: #888;
}

.api-component-button {
  background-color: #00c0a3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  padding: 2px 16px;
  cursor: pointer;
  outline: none;
}

.api-component-button:active {
  background-color: #A2E8DD;
}

.api-component-header, .api-component-parameters {
  width: 100%;
}

.col {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.col-type, .col-location {
  width: 10%;
}

.col-parameter {
  width: 15%;
  padding-left: 0;
}

.col-attributes {
  width: 25%;
}

.col-description {
  width: 40%;
}

.http-get {
  color: #8EC553;
}

.http-post {
  color: #00b9b7;
}

.http-patch {
  color: #ff5c1e;
}

.http-delete {
  color: #f33f33;
}
