@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 150px;
}

.App-header {
  background-color: #C0392B;
  height: 150px;
  color: white;
}

.App-header h2 {
  font-size: 16px;
  position: relative;
  top: -75px;
  left: 42px;
}

.App-intro {
  font-size: large;
}

.App-content {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.App-link {
  text-decoration: none;
  color: black;
}

.App-link:hover, .App-link:focus, .App-link:active {
  color: #00c0a3;
}

.Resource-title {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 4px 20px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
